/* Common */

/* Common */

/* Utility */
/* background color */
.bl-navbar {
  background-color: #2c3e50;
}
/* background color */
/* Utility */

/* navbar */
.bl-navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav > li > a:hover {
  color: #1abc9c;
}
/* END navbar */

/* jumbotron */
.container .bl-jumbotron, .container-fluid .bl-jumbotron {
  background-color: #1abc9c;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  text-align: center;
}

.bl-jumbotron {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
}

.bl-jumbotron-avatar {
  height: 250px;
}
/* END jumbotron */

.star {
  margin: 20px 0;
}

.star i {
  font-size: 30px;
  vertical-align: middle;
}

.star:before, .star:after {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 150px;
  height: 4px;
  border-radius: 2px;
  margin: 0 20px;
}













.sn-form {
  width: 600px;
  margin: 0 auto;
}

.sn-form .form-group {
  border-bottom: 1px solid #ccc;
}

.sn-form ::placeholder, .sn-form input, .sn-form textarea {
  color: #2c3e50;
  font-size: 20px;
  padding: 0;
  border: 0;
}

.sn-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
